@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

.img
{
    border: 4px solid steelblue;
}
.logo-box img
{
    width: 80px;
}
.icon img
{
    width: 80px;
    padding-top: 10px;
}
#content
{
    max-width: 1600px;
    display: block;
    margin: 0 auto;
}
header
{
    background-color: steelblue      ;
}
nav
{
    background-color: steelblue;
    padding: 35px;
}
a
{
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 25px;
}
nav a:hover
{
    background-color: #3943B7;
    color: #E08E45;
}
.home-title
{
    color: black;
    font-size: 2em;
    margin-top: 10px;
}
body
{
    background-color: #BDF7B7;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h1
{
    margin: 50px 0;
    font-family: "IM Fell French Canon";
}
h2
{
    font-size: 22px;
    margin: 0;
}
h4
{
    color: black;
    font-family: "IM Fell French Canon";
}
#hero-img
{
    width: 100%;
}
#hero-msg h1, #hero-msg h4
{
    text-align: center;
}
.button-box
{
    text-align: center;
}
main img
{
    margin: 0 auto;
    display: block;
}
main section
{
    text-align: center;
}
main section p
{
    padding: 25px;
}
main section img{
    box-sizing: border-box;
}
.card-img
{
    border: 10px solid #E08E45;
}
.rivers-card, .camping-card, .rapids-card
{
    margin: 200px 0;
}
#background
{
    height: 725px;
    background-color: #BDF7B7;
}
.book, .join
{
    text-decoration: none;
    background-color: #BDF7B7;
    color: black;
    font-family: "IM Fell French Canon";
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover
{
    background-color: #3943B7;
    color: #E08E45;
}
.msg
{
    background-color: #BDF7B7;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2
{
    color: black;
    font-family: "IM Fell French Canon";
}
.msg p
{
    color: black;
    font-size: 0.8em;
    padding-bottom: 15px;
}
footer
{
    background-color: steelblue;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p
{  
    padding: 25px;
}
footer p a:hover
{
    text-decoration: underline;
    background-color: #3943B7;
    color: #E08E45;
}
/*footer h3
{
    color: black;
    font-family: "IM Fell French Canon";
}*/
footer .social img
{
    padding-top: 15px;
}
